.create-user-container {
    max-width:600px;
    height:70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .maindiv{
    padding: 20px;
    padding-bottom:60px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: lightgray;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
  }
  .label{
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
    padding-right:20px;
    padding-left:100px;
    width: 15%;
  }
  h2{
    text-align: center;
  }
  button {
    margin-left: 100px;
    width: 50%;
  }
  .message{
    color: green;
    text-align: center;
    font-size: 14px;
  }
  p{
    font-size: 16px;
    color: white;
    padding: 5px;
    text-indent: 5px;
    background-color: rgb(5, 5, 119);
  }