nav {
    margin: 20px 0;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav li {
    display: inline;
    margin-right: 20px;
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
  }

  nav a.active {
    color: blue;
  }
  h1{
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 5px;
    background-color: rgb(5, 5, 119);
  }
  .header{
    background-color: rgb(247, 166, 247);
    padding-top:20px;
    padding-bottom: 10px;
  }
  .logo{
    width:70px;
    height:60px;
    background-color: #946e8c;
    padding:15px;
    border-radius: 5px;;
  }
  span{
    padding-left:50%;
  }