.create-ticket-container {
    width: 100%;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .maindiv{
    width: 90%;
    height: 100%;
    padding: 80px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #929189ad;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 15px;
  }
  .form-group label{
    font-weight: bold;
    width: 15%
  }

  .form-group input{
    font-weight: bold;
    width: 30%
  }
  .form-group textarea{
    font-weight: bold;
    width: 50%
  }

  h2{
    text-align: center;
  }
  button {
    width: 50%;
    padding-right: 10px;
  }
  
  .alert {
    margin-top: 15px;
  }
  .error-message {
    color: red;
    font-size: 14px;
  }
  .success-message {
    color: green;
    font-size: 14px;
  }
  p{
    font-size: 16px;
    color: white;
    padding: 5px;
    text-indent: 5px;
    background-color: rgb(5, 5, 119);
  }