.create-ticket-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .maindiv{
    width: 50%;
    height: 100%;
    padding: 80px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #929189ad;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label{
    font-weight: bold;
  }
  h2{
    text-align: center;
  }
  button {
    width: 50%;
    padding-right: 10px;
  }
  
  .alert {
    margin-top: 15px;
  }